<h1>About This Service</h1>
<p>
Made just for practice app based on <a href="http://japanese.railstutorial.org/">Ruby on Rails Tutorial</a>.
</p>
<%= link_to "Sign up now!", '#', :class => "signup_button round" %>
