<header>
  <span id="logo_container" class="round">
    <span id="logo" class="round">Hello, Rails!</span>
  </span>
  <nav class="round">
    <ul>
      <li> <%= link_to 'Home', home_path %> </li>
      <li> <%= link_to 'Help', help_path %> </li>
      <li> <%= link_to 'Sign in', '#' %> </li>
    </ul>
  </nav>
</header>
